body {
  position: relative;
}

.scrollspy {
  display: block;
  position: relative;
  overflow: auto;
  height: 500px;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  
}

.scrollspy::-webkit-scrollbar {
  display: none;
}

/* TEXTO */

p {
  text-align: justify;

}

h5,
h4 {
  text-align: left;
  align-self: self-start;
}

strong {
  font-size: 18px;
  justify-content: left;
}

.container {
  margin-top: 5px;
  text-align: justify;
  color: black;
  display: block;
}

label {

  margin: 10px;
  font-size: 14px;

}

h2 {

  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  margin: auto;


}

h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px 15px 0px;
  
}

.nav-link a {
  text-decoration: none;
}

/* FIM TEXTO */

#logo {

  font-family: MonteCarlo;
  font-size: 40px;
  color: black;
  padding: 0;
  margin: 0;

}

.navbar {
  display: flex;

}


a {

  color: black;

}

a:hover {

  color: black;

}

img {

  width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
}

header {
  background-color: #d1dede;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

footer {
  background-color: #d1dede;
  display: flex;  
  flex-direction: column;
  align-items: center;
}


#navbarfooter a {
  color: black;
}

.nav-link {
  color: rgb(0, 0, 0);
}

#navbar-scroll .active {
  background-color: black;
  color: white;
}

#navbar-scroll {
  display: flex;
}

@media screen and (max-width:768px) {

  .nav-item {

    border-radius: 10px;
    margin-right: 5px;
  }
}

@media screen and (max-width:424px) {

  #navbar-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.nav-item {
  margin-top: 10px;
}

}