* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;    
    text-align: center; 
    font-family: 'Klee One', Arial, Helvetica, sans-serif;
    font-size: 12px;        
    width: 100%;   
    margin-top: 50px;
    background-color: white;
    color: rgb(8, 8, 8);
    font-size: 16px;   
}

a {
    text-decoration: none;
}

.titulos {
    font-family: 'MonteCarlo';
    font-size: 50px;
    margin-top: 50px;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 5px;

}

button {
    width: auto;
    border-radius: 3px;
    background-color: rgb(168, 83, 83);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: white;
}

#botaoBio {
    margin-top: 20px;
    width: auto;
    height: 40px;
    border-radius: 5px;
    align-self: center;
    background-color: rgb(17, 17, 17);
    color: rgb(250, 248, 248);    
}

.navbar {    
    display: flex;
    justify-content: space-evenly;    
}

.navbar a {
    color:black;
}

header {
    display: flex;
    color: black;
    background-color: #D1DEDE;      
    justify-content: space-around; 
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
}

#logo {
    margin-top: 0;
    font-family: MonteCarlo;
    font-size: 40px;
}

#imgheader {
    
    width: 60%;
    height: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    margin: auto;
}

.container img {
    width: 30%;
    border-radius: 10%;
    height: 200px;
}

.link-area {
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 50px;    
}

.text-area {
    text-align: justify;
}

.text-links p {
    width: 50%;
    text-align: justify;
}

footer {
display: flex;
color: black;
background-color: #D1DEDE;       
justify-content: center;
}


.janelafadeout {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;    
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: 0.8px solid;
    overflow-y: hidden;
}

.janelafadeout.abrir {
   display: flex; 
   transition: ease-in;
   transition-duration: 2s;
}

.projetos {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 450px;
    min-height: 500px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;    
    text-align: justify;
    overflow-y: hidden;
    
}

.projetos img, label {
    align-self: center;
}


.fechar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(168, 83, 83);
    color: #ffffff;
    font-size: 20px;
}


footer {
    display: flex;
    flex-direction: column;    
}

footer li {
    display: flex;
    list-style-type: none;
}

.galery-container {
    width: 100%;
    padding: 50px 0;
}

#child {
    width: 70%;
    max-width: 1600px;
    margin:auto;
    padding: 20px 20px;
}

.galery-container .grandchild a {
    padding: 10px;
}

.galery-container .grandchild {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.galery-container .photos {
    flex: 20%;
    overflow: hidden;
    cursor: pointer;
}

.galery-container .photos img {
    width: 80%;
    height: 80%;
    transition: 0.4s;
    border-radius: 10px;
}

.galery-container .photos:hover img {
    transform: scale(1.5);
}

@media screen and (max-width:1200px) {      

    #imgheader {
        width: 60%;
        height: 20%;
        margin-top: 30px;
    }
    
}

@media screen and (max-width: 768px) {      

    #imgheader {
        width: 80%;
        height: 20%;
        margin-top: 30px;
    }

    .link-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        gap: 50px;    
    }
    
    .text-area {
        text-align: justify;
    }
    
    .link-area img{ 
        width: 80%;
        height: 20%;
    }
    
    .text-links p {
        width: 50%;
        text-align: justify;
    }
    
}

@media screen and (max-width:480px) {      

    #biografia {    
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        overflow: hidden;
        height: auto;
        width: 100%;
    }
    

    .link-area {
    flex-direction: column;
    align-items: center;
    }

    .link-area img {
        width: 50%;
        height: 50%;
    }

}

/* QUIZ */ 


.janelafadeout {
    margin: auto;
    margin-top: 30px;
}

#conteudoquiz {
    display: flex;
    margin: auto;
    flex-direction: column;    
    height: 500px;    
    width: 90%;
    margin-top: 50px;
    margin-bottom: 80px;
    
  }

  #conteudoquiz button {
    background-color: #d1dede;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .spnQtd {
    text-align: end;
    font-weight: bold;
    align-items: center;
    font-weight: 40px;
  }

#quizcontent {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#containerquiz {
    margin: auto;
    width: 80%;
}

.question {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;        
    font-size: 30px;    
  }
   
  #h21quiz {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    color: red;
  }

  .answers {
    display: flex;
    flex-direction: column;        
    margin-top: 40px;
  }

  .answers button {
    height: 80px;
    width: 200px;
  }
  
  .finish {
    display: none;
    font-size: 20px;
    text-align: justify;
    height: 300px;
    flex-direction: column;
  }
  
  .finish button {
    
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
  }

  .result {
    width: 80%;
  }

.modal-content {

    padding: 50px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.modal-content img {
    width: 60%;
    height: 60%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}


.modal-content label {
    margin: auto;
}


.modal-content p {
    text-align: justify;
    margin-top: 20px;

}


.modal-content h2 {
    text-align: center;
    text-transform: uppercase;
}

.modal-content strong {
    margin-top: 15px;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.modal-content .citacao {
    width: 75%; 
    margin: auto;
    margin-bottom: 20px;
    font-weight: bold;    
}